body {
    background-color: #F5F5F5;
    color: #262626;
    font-family: monospace;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }
}

.square {
    width: 120px;
    height: 120px;
    background-color: #262626;

    font-size: 40px;
    text-align: center;
    color: #F5F5F5;

    &:hover {
        background-color: #3F3F3F;
    }
}

#gameReset {
    height: 40px;
    width: 150px;
    background-color: #F5F5F5;
    border: 1px solid #262626;
    border-radius: 40px;

    font-size: 18px;

    &:hover {
        background-color: #3F3F3F;
        color: #F5F5F5;
    }
}